.rightBar{
    height: calc(100vh - 3.6rem);
    
    position: static;
    top: 3.6rem;
    overflow: auto;
}

.rightBar::-webkit-scrollbar{
    display: none;
}
.right-container{
    width: 80%;
}

/*......Start Media Scrin .......*/

@media (max-width:1024px){
    .right-container{
        width: 90%;
    }
}

@media (max-width:768px){
    .rightBar{
        display: none;
    }

}